<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.5.1//EN" "http://www.apple.com/DTDs/PropertyList-1.5.1.dtd">
<plist version="1.5.1">
<dict>
    <key>CFBundleExecutable</key>
    <string>run</string> 

    <key>CFBundleIdentifier</key>
    <string>com.jamesMarkChan.jDiskMark</string> 

    <key>CFBundleName</key>
    <string>jDiskMark</string> 

    <key>CFBundleVersion</key>
    <string>1.5.1</string> 

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleSignature</key>
    <string>????</string>

    <key>CFBundleIconFile</key>
    <string>JDM.icns</string>  <!-- Replace with the name of your icon file -->

</dict>
</plist>
